@page "/register"
@using Frontend.Identity
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="d-flex justify-content-center align-items-center flex-column w-100">
    <div class="alert alert-info w-100 text-center">
        <h3>Register</h3>
    </div>

    <EditForm Model="_auth" OnValidSubmit="HandleLogin">
        <div class="mb-2">
            <InputText @bind-Value="_auth.Email" class="form-control" placeholder="Email" />
        </div>
        <div class="mb-2">
            <InputText @bind-Value="_auth.Password"  class="form-control" placeholder="Password" type="password" />
        </div>
        <button type="submit"  class="btn btn-primary">Register</button>
    </EditForm>
</div>

@code {
    readonly AuthModel _auth = new();

    private async Task HandleLogin()
    {
        var result = await Http.PostAsJsonAsync("api/account/register", _auth);
        if (result.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/");
        }
    }
}
