@using System.Net
@using Frontend.Identity
@inherits LayoutComponentBase
@inject CustomAuthStateProvider AuthProvider
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">

            @if (!_isAuthenticated)
            {
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            }

            @if (_isAuthenticated)
            {
                <a href="#" @onclick="Logout">Logout</a>
            }

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    bool _isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        _isAuthenticated = await AuthProvider.IsAuthenticated();
    }
    
    async Task Logout()
    {
        await AuthProvider.Logout();
        Navigation.NavigateTo("/",true);
    }
}
